:root {
  $greenColor: #46a358;
  $greycOLOR: #3d3d3d;
  $whiteColor: #ffffff;
  $bgColor: #fbfbfb;
  --btn-bg: #46a358;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
}
